/* Color backgrounds of group label bars */
.vis-time-axis .vis-background.vis-group-0 {
  background-color: #1f77b4 !important; /* Phase 1 blue */
}

.vis-time-axis .vis-background.vis-group-1 {
  background-color: #2ca02c !important; /* Phase 2 green */
}

.vis-time-axis .vis-background.vis-group-2 {
  background-color: #ff7f0e !important; /* Phase 3 orange */
}

/* Color group labels */
.vis-labelset .vis-label.vis-group-0 {
  color: #1f77b4 !important;
  font-weight: bold;
}
.vis-labelset .vis-label.vis-group-1 {
  color: #2ca02c !important;
  font-weight: bold;
}
.vis-labelset .vis-label.vis-group-2 {
  color: #ff7f0e !important;
  font-weight: bold;
}
